/*CSS geral*/
body {
    background: rgb(219, 219, 219);
    font: normal 20pt;
    color: black;
    }
header {
    margin-top: 7%;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 5px;
    padding: 3vh;
    width: 40%;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}
footer {
    text-align: center;
    font-style: italic;
    }
button{
    background-color: #3b5998;
    color: white;
    padding:1vh;
    border: none;
}
section.fullpg{
    width: 90%;
}
/*intro*/

    h2#txtintro {
        font-size: 30px;
        font-style: normal;
        text-align: center;
    }
    h1#entrada {
        font-size: 40px;
        font-style: italic;
        text-align: center;
    }
#intro img{
    position: relative;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logoIndex{
    margin-top: 10%;
    width: 100%;
}


/*Monte seu time*/

section#res3 {
    position: sticky;
    bottom: 20%;
    margin-right: 1%;
    padding: 1vh;
    width: 23%;
} 
#tempoReal {
    position: sticky;
    bottom: 10%;
    margin-right: 1%;
    padding: 1vh;
    width: 23%;
} 
li.time{
    position: relative;
    margin-left: -4vh;
}
button.comprar {
    background-color: rgb(17, 177, 17);
    color: white;
    width: 15%;
    margin-left: 7%;
}
button.vender {
    background-color: rgb(223, 9, 9);
    color: white;
    width: 15%;
    margin-left: 7%;
}
button.ler{
    background-color: lightblue;
    color: black;
    margin-left: 10vh;
}




/*Propaganda*/
.imgProp{
    width: 80%;
}
#prop{
    width: 90%;
}
#prop1{
    width: 45%;
}
#prop2{
    width: 45%;
}



/*Login*/

#logo3 {
    margin-top: 13vh;
}


/*Porcentagem*/
section.porcentagem{
    width: 70vh;
}
section.porcentagem div{
    display: inline-block;
    margin: 1vh;
}


/*Tabela*/
#sectionTabela{
    margin-top: 10%;
    width: 97%;
    padding: 1%;
    margin-left: 0;
}
#tabelas table {
    width: 100%;
    font-size: 16px;
}



/*Perfil*/
section#perfil{
    margin-top: 5%;
}



    /*Menu*/
 
    .overlay {
        height: 100%;
        width: 0;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
      }
      .overlay-content {
        position: relative;
        top: 15%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }    
      .overlay a {
        padding: 8px;
        max-width: 100%;
        text-decoration: none;
        font-size: 40px;
        color: #e4dada;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */
      }
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
      
      @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
          font-size: 40px;
          top: 15px;
          right: 35px;
        }
      }



      nav#menu ul{
        position: relative;
        max-width: 100%;
        list-style: none;
        padding-left: 2%;
        margin: 1%;    }
    nav#menu li{
        display:inline-flex;
        align-items: center;
        background-color: #3b5998;
        padding-left: 1%;
        padding-bottom: 1%;
        padding-top: 1%;
        margin-left: 15%;
        color: white;
        
    }
    nav#menu h1 {
        display: none;
    }
   /* nav#menu li {
        
        justify-content: space-between;
        align-items: center;
    }*/
    nav#menu li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: sans-serif  ;
    }
    nav#menu a:hover{
        color: rgba(247, 242, 242, 0.774);
    }

nav#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #3b5998;
    padding: 0;
}
img#logo {
    width: 100%;
}
li#lilogo{
    max-width: 13%;
}
